body {
    background-color: rgb(237, 223, 250);
}

.profileContainer {
    background-color: rgb(223, 189, 254);
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.profilePicture {
    margin-top: 50px;
    margin-left: 50px;
}

input {
    font-size: 15px;
    font: bold;
    color: gray;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

#nameBox {
    margin-top: 10px;
    margin-left: 50px;
    width: 300px;
    background-color: rgb(219, 150, 223);
    padding: 4px 8px;
    font-size: 25px;
    font: bold;
    border-radius: 10px;
    display: flex;
    align-items: center;
}


#emailBox {
    margin-top: 10px;
    margin-left: 50px;
    width: 300px;
    background-color: rgb(219, 150, 223);
    padding: 4px 8px;
    font-size: 25px;
    font: bold;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
#gitBox {
    margin-top: 10px;
    margin-left: 50px;
    width: 300px;
    background-color: rgb(219, 150, 223);
    padding: 4px 8px;
    font-size: 25px;
    font: bold;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#profileImage {
    width: 400px;
    height: 400px;
    background-color: rgb(219, 150, 223);
}

.personalCareer {
    margin-left: 50px;
    width: 520px;
    height: 200px;
    background-color: rgb(232, 181, 255);
}

.enterIntro {
    width: 750px;
    height: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.introSpan {
    font-size: 30px;
    font-weight: bold;
}

.setIntro {
    margin-top: 5px;
    width: 500px;
    height: 25px;
    font-size: 25px;
}

#careerDisplay {
    margin-left: 50px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.introSpan {
    margin-left: 5px;
    margin-top: 5px;
}

.personalIntro {
    margin-top: 50px;
}


#recommendRate {
    display: flex;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    border-radius: 100%;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.recommendBox {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    margin-right: 50px;
}