.notice_container{
    margin : auto;
    margin-top : 15px;
    width:1200px;
    height:200px;
    border: 1px solid #f2f2f2;
    border-radius: 30px 30px 30px 30px;
}

.inform{
    margin-left:20px;
    margin-top: 10px;
    width: 550px;
    height: 200px;
    float:left;
}
.alarm{
    width:100px;
    float:left;
}

.alarm_inset{
    float:left;
    width:400px;
}

.question{
    margin-top: 10px;
    margin-left:20px;
    width:550px;
    height:200px;
    float:right;
}

.qanda{
    width:100px;
    float:left;
}
.qanda_insert{
    float:left;
    width:400px;
}